<h1>PrimeNG Tests</h1>

<section>
    <h2>Accordion with Focus Out Directive</h2>
    <h3>This tests the following functions</h3>
    <ul>
        <li>
            <p>Clicking outside of a designated element triggers A function</p>
        </li>
        <li>
            <p>Exclude a list of DOM items outside of element from triggering directive function</p>
        </li>
        <li>
            <p>When a form is dirty, clicking outside of the accordion calls the directive function</p>
        </li>
        <li>
            <p>Clicking outside when the form is pristine, nothing happens</p>
        </li>
        <li>
            <p>
            If the form is dirty and the accordion is attempted to be closed, block user from closing 
            the accordion and spawn modal
            </p>
        </li>
    </ul>
    <app-focus-out></app-focus-out>
</section>

<br>
<br>
<br>
