<h1>PrimeNG Tests</h1>

<section>
    <h2>Accordion with Focus Out Directive</h2>
    <h3>This tests the following functions</h3>
    <ul>
        <li>
            <p>Clicking outside of a designated element triggers A function</p>
        </li>
        <li>
            <p>Exclude a list of DOM items outside of element from triggering directive function</p>
        </li>
        <li>
            <p>When a form is dirty, clicking outside of the accordion calls the directive function</p>
        </li>
        <li>
            <p>Clicking outside when the form is pristine, nothing happens</p>
        </li>
        <li>
            <p>
            If the form is dirty and the accordion is attempted to be closed, block user from closing 
            the accordion and spawn modal
            </p>
        </li>
    </ul>
    <app-focus-out></app-focus-out>
</section>

<br>
<br>

<section>
    <h2>Accordion with Focus Trap Directive</h2>
    <h3>This demo demonstrates the following</h3>
    <ul>
        <li>
            <p>When the accordion is closed, the directive is not applied so the user can still tab
            through the page as normal
            </p>
        </li>
        <li>
            <p>When the accordion is open, the user is trapped inside the accordion when tabbing</p>
        </li>
        <li>
            <p>When the form is dirty, clicking the "Save" button clears the form, disables the directive
            and closes the accordion which pops a modal informing the user their form data was accepted. The
            user can tab through the rest of the page as needed.
            </p>
        </li>
        <li>
            <p>When the user clicks the cancel button, the accordion is closed and any remaining data in the 
            form is cleared. The directive is also removed allowing the user to tab freely outside of the accordion.
            </p>
        </li>
    </ul>
    <app-focus-trap></app-focus-trap>
</section>

<br>
<br> 
<br>